﻿@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3>Ana Sayfa</h3>
</div>

<div clas="mt-2">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <img src="https://images.migrosone.com/sanalmarket/product/28080000/domates-kg-c7462d-1650x1650.jpg" style="width:100%" />
                </div>
                <div class="card-header">
                    <h6>Domates</h6>
                    <p>Karstan gelen taze domates</p>
                </div>
                <div class="card-body text-center">
                    <h3 class="alert alert-danger">
                        ₺100,00
                    </h3>
                    <button class="btn btn-success w-100">
                        Sepete Ekle
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>